<section class="relative my-4 w-full lg:my-12 <%= defined?(additional_classes) && additional_classes %>">
  <div class="wrapper-mobile-fullwidth">
    <%= render(ImageComponent.new(
      image: featured_product.gallery.images.last,
      size: :full,
      class: 'w-full object-cover aspect-square md:aspect-auto'
    )) %>
    <div class="absolute bottom-0 left-0 right-0 text-center pb-14">
      <span class="rounded-full px-3 py-1 bg-white text-sm text-black mb-2">New</span>
      <h4 class="text-h3 font-serif-md mb-6 text-white md:mb-11 md:text-h2.5"><%= featured_product.name %></h4>
      <%= render partial: "shared/call_to_action", :locals => { :label => "Shop Now", type: 'secondary', :url => featured_product } %>
    </div>
  </div>
</section>
